@import "tailwindcss";

@theme {
  --font-chinese: "Noto Sans SC", sans-serif;
  --font-futuristic: "ZCOOL QingKe HuangYou", cursive;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-chinese);
}